<% include partials/header.ejs %>

    <div class="ui main text container segment">
        <div class="ui huge header">
            <h1>New Post</h1>
        </div>
        <form class="ui form" action="/posts" method="POST">
            <div class="field">
                <label>Title:</label>
                <input type="text" name="post[title]" placeholder="Title"></input>
            </div>
             <div class="field">
                <label>Photo:</label>
                <input type="text" name="post[photo]" placeholder="Photo url"></input>
            </div>
             <div class="field">
               <label>Post content:</label>
               <textarea name="post[body]"></textarea>
            </div>
            <button class="ui purple basic big button" action type="submit">Submit</button>
        </form>
    </div>

<% include partials/footer.ejs %>
